exportClasses(Dataset, Attribute)

exportMethods(get_attribute,
              add_attribute,
              remove_attribute,
              to_factor,
              to_csv,
              to_dataframe,
              print_dataset,
              variance1,
              variance_att,
              mean1,
              mean_att,
              median1,
              median_att,
              entropy1,
              entropy_att,
              mode1,
              mode_att,
              roc_auc1,
              roc_auc_att,
              correlation1,
              correlation_att,
              norm_mutual_info1,
              norm_mutual_info_att,
              discretize1,
              discretize_att,
              standarize1,
              standarize_att,
              normalize1,
              normalize_att,
              filter_by,
              print_data)

export( dataset,
        attribute,
        from_csv,
        plot_roc,
        plot_cor,
        plot_norm_mutual_info)
